@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!--welcome page-->
    <p> <partial name="/Views/Shared/ModifyLayout.cshtml" /></p>
    <p> <a asp-controller="EventCategory" asp-action="index">Event Category</a> <!-- this will create a link to go to the AddEvent page--></p>
</div>

